doctype html
html 
    head
        link(rel="stylesheet" href="/public/styles/styles.css")
        if background == 'scifi'
            link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
            link(href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet")
            link(rel="stylesheet" href="/public/styles/scifi.css")
        else if background == 'fantasy'
            link(rel="stylesheet" href="/public/styles/fantasy.css")
            link(rel="preconnect" href="https://fonts.googleapis.com")
            link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
            link(href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet")
        else if background == 'horror'
            link(rel="stylesheet" href="/public/styles/horror.css")
            link(rel="preconnect" href="https://fonts.googleapis.com")
            link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
            link(href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet")
        else if background == 'romance'
            link(rel="stylesheet" href="/public/styles/romance.css")
        else 
            link(rel="stylesheet" href="/public/styles/default.css") 
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body 
        #overlay
        nav.navbar 
            a(href="/")
                button.submit-button Home
            form.nav-form
                input#title-input.nav-input(type="text" name="book_title" placeholder="Enter Book Title")
                input#author-input.nav-input(type="text" name="author_name" placeholder="Enter an Author")
                button#nav-submit.submit-button(type="submit") Search
            a(href='/profile')
                button.submit-button Profile
        if newUser
            h1 Welcome to the Library, #{username}!
        else
            h1 A Reader of Changing Tastes, Perhaps?
        .main-div
            if newUser
                h3.subheader Before you start adding books to your list, how would you like to tell us some things about yourself?
            else 
                h3.subheader Edit your preferences and description
            form#info-form(action="/info-update" method="post")
                p.subheader What is your favorite genre of literature?
                input.main-input(type="text" name="favorite_genre" placeholder="Favorite Genre")
                p.subheader Provide a brief description of yourself, if you so desire.
                textarea#description(name="description" rows="8" cols="50" placeholder="Enter a Description")
                br
                p.subheader Choose a theme to customize the application to your liking.
                select(name="background" id="background")
                    option(value="default") Default 
                    option(value="scifi") Science-Fiction 
                    option(value="fantasy") Fantasy 
                    option(value="horror") Horror 
                    option(value="romance") Romance
                br
                button.submit-button Submit
        script(src="/public/scripts/navscript.js")

                

                