$headerColor: rgba(255, 251, 149, 0.9);
$focusColor: rgb(237, 234, 160);
$buttonColor: rgba(59, 144, 236, 0.911);
$divBackground: rgba(255, 255, 255, 0.9);
$bookDivBackground: rgb(165, 199, 235);
$navbarColor: linear-gradient(0deg, rgba(255, 221, 117, 0.9) 0%, rgba(237, 234, 160, 0.9) 100%);


body {
    background-image: url("../assets/background.png");
}

h1 {
    color: $headerColor;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.main-input:hover,
.main-input:focus {
    background-color: $focusColor;
    transform: scale(1.1);
}

.nav-input:hover,
.nav-input:focus {
    background-color: $focusColor;
    transform: scale(1.1);
}

.submit-button {
    background-color: $buttonColor;
    font-family: 'Optima', sans-serif;
    color: white;
}

.submit-button2 {
    background-color: $buttonColor;
    color: white;
}

.main-div, .main-div2, .main-div3, #user-description {
    background-color: $divBackground;
}

.book-div {
    background-color: $bookDivBackground;
}

.navbar {
    background: $navbarColor;
}