$headerColor: rgba(255, 251, 149, 0.9);
$focusColor: rgb(237, 234, 160);
$buttonColor: rgba(59, 144, 236, 0.911);
$divBackground: rgba(255, 255, 255, 0.9);
$bookDivBackground: rgb(165, 199, 235);
$navbarColor: linear-gradient(0deg, rgba(255, 221, 117, 0.9) 0%, rgba(237, 234, 160, 0.9) 100%);


body {
    background-image: url("../assets/background.png");
    background-color: rgba(226, 226, 226, 0.9);
    background-blend-mode: darken, luminosity;
}

h1 {
    color: $headerColor;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.description {
    color: $headerColor;
}

.main-input:hover,
.main-input:focus {
    background-color: $focusColor;
    transform: scale(1.1);
}

.nav-input:hover,
.nav-input:focus {
    background-color: $focusColor;
    transform: scale(1.1);
}

.submit-button {
    background-color: $buttonColor;
    font-family: 'Optima', sans-serif;
    color: white;
}

.submit-button2 {
    background-color: $buttonColor;
    color: white;
}

.book-div {
    background-color: $bookDivBackground;
}

.navbar, .footer {
    background: $navbarColor;
}