body {
    background-image: url("https://cdn.steamstatic.com/steamcommunity/public/images/items/872680/6b714e947052471b476d849311f3dbeef3812e6b.jpg");
    background-size: cover;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1 {
    color: rgba(171, 10, 10, 0.9);
    font-size: 89px;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: black;
    animation: fadeIn 1s;
    margin-top: 20px;
}

h2 {
    color: black;
    font-size: 46px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-input {
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    border-radius: 13px;
    margin: 20px;
    transition: all 0.2s ease-out;
}

.main-input:hover,
.main-input:focus {
    background-color: rgb(253, 92, 92);
    width: 320px;
}

#description {
    width: 500px;
    height: 200px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 13px;
    margin: 20px;
}

.nav-input {
    width: auto;
    height: auto;
    font-size: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 13px;
    margin: 0px 15px 0px;
    transition: all 0.2s ease-out;
}

.nav-input:hover,
.nav-input:focus {
    background-color: rgb(253, 92, 92);
}

.submit-button {
    width: 135px;
    height: 30px;
    margin: 10px;
    border-radius: 13px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.911);
    font-size: 20px;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.submit-button2 {
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 160px;
    border: 2px solid black;
    background-color: rgba(245, 98, 0, 0.911);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.submit-button:hover,
.submit-button:focus {
    background-color: rgb(49, 186, 78);
    width: 145px;
}

.submit-button2:hover,
.submit-button2:focus {
    background-color: rgb(49, 186, 78);
}

.xmark:hover,
.xmark:focus {
    background-color: rgb(255, 32, 32);
}

.main-div {
    background-color: rgba(186, 180, 175, 0.9);
    position: relative;
    margin: auto;
    width: 63%;
    padding: 15px;
    border: 3px solid black;
    border-radius: 13px;
    animation: fadeIn 2s;
}

.book-div {
    background-color: rgb(199, 109, 109);
    position: relative;
    margin: auto auto 15px auto;
    width: 80%;
    height: auto;
    border: 3px solid black;
    border-radius: 13px;
    animation: fadeIn 2s;
}

#user-description {
    background-color: rgba(186, 180, 175, 0.9);
    position: relative;
    width: auto;
    padding: 15px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 13px;
    animation: fadeIn 2s;
}

.main-div2 {
    background-color: rgba(186, 180, 175, 0.9);
    position: relative;
    float: right;
    width: 55%;
    padding: 20px;
    border: 3px solid black;
    border-radius: 13px;
    margin-bottom: 15px;
    margin-right: 10px;
    animation: fadeIn 2s;
}

.main-div3 {
    background-color: rgba(186, 180, 175, 0.9);
    position: relative;
    float: left;
    width: 35%;
    padding: 20px;
    border: 3px solid black;
    border-radius: 13px;
    margin-bottom: 15px;
    margin-left: 10px;
    animation: fadeIn 2s;
}

.action-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.action-form2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.subheader {
    font-size: 30px;
    font-family: 'Optima', sans-serif;
    font-weight: bold;
}

#title_description {
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.form-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#preview-div {
    float: left;
    width: 35%;
    height: 90%;
    background-image: url("https://worksheetprints.com/wp-content/uploads/2022/12/default-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 0px 15px 10px;
    animation: fadeIn 2s;
}

.works-list {
    font-size: 40px;
    list-style: none;
    line-height: 74px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
    transition: all 0.4s;
}

a:hover {
    color: rgb(49, 186, 78)
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(0deg, rgba(134, 5, 5, 0.9) 0%, rgba(96, 1, 1, 0.9) 100%);
    height: 45px;
    width: 100%;
    border: 3px solid black;
    padding: 5px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

footer {
    margin: 15px;
    color: white;
}

@media (max-width: 1100px) {
    
    h1 {
        color: rgba(171, 10, 10, 0.9);
        font-size: 45px;
        font-family: Copperplate, Papyrus, fantasy;
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: black;
        animation: fadeIn 1s;
        margin-top: 20px;
    }

    h2 {
        color: black;
        font-size: 26px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .main-input {
        width: 170px;
        height: 40px;
        font-size: 15px;
        text-align: center;
        border: 2px solid black;
        border-radius: 13px;
        margin: 20px;
        transition: all 0.2s ease-out;
    }

    .main-input:hover,
    .main-input:focus {
        background-color: rgb(253, 92, 92);
        width: 190px;
    }

    #description {
        width: 170px;
        font-size: 15px;
    }

    select {
        width: 170px;
        height: 40px;
        font-size: 15px;
        text-align: center;
        border: 2px solid black;
        border-radius: 13px;
        margin: 20px;
        transition: all 0.2s ease-out;
    }

    .subheader {
        font-size: 25px;
        font-family: 'Optima', sans-serif;
        font-weight: bold;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: linear-gradient(0deg, rgba(134, 5, 5, 0.9) 0%, rgba(96, 1, 1, 0.9) 100%);
        height: 70px;
        width: 100%;
        border: 3px solid black;
        padding: 3px;
    }

    .nav-input {
        opacity: 0;
        width: 0px;
        height: 0px;
        font-size: 15px;
        text-align: center;
        border: 2px solid black;
        border-radius: 13px;
        margin: 0px 15px 0px;
        transition: all 0.2s ease-out;
    }

    #nav-submit {
        width: 0px;
        height: 0px;
        opacity: 0;
    }

    .submit-button {
        width: 120px;
        height: 40px;
        margin: 15px;
        border-radius: 13px;
        border: 2px solid black;
        background-color: rgba(0, 0, 0, 0.911);
        font-size: 18px;
        font-family: 'Optima', sans-serif;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    footer {
        margin-top: 15px;
        color: white;
    }

    .main-div2 {
        background-color: rgba(186, 180, 175, 0.9);
        width: auto;
        padding: 10px;
        border: 3px solid black;
        border-radius: 13px;
        margin-bottom: 15px;
        margin-left: 10px;
        animation: fadeIn 2s;
    }

    .main-div3 {
        background-color: rgba(186, 180, 175, 0.9);
        width: 89%;
        padding: 10px;
        border: 3px solid black;
        border-radius: 13px;
        margin-bottom: 15px;
        margin-left: 10px;
        animation: fadeIn 2s;
    }

    #preview-div {
        width: 95%;
        height: 70px;
        background-image: none;
        background-size: cover;
        background-repeat: no-repeat;
        animation: fadeIn 2s;
    }

    .works-list {
        font-size: 20px;
        margin-right: 17px;
        list-style: none;
        line-height: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .action-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    
    .action-form2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    #user-description {
        background-color: rgba(186, 180, 175, 0.9);
        position: relative;
        width: auto;
        padding: 15px;
        margin: 10px;
        border: 3px solid black;
        border-radius: 13px;
        animation: fadeIn 2s;
    }

    .book-div {
        background-color: rgb(199, 109, 109);
        position: relative;
        margin: auto auto 15px 14px;
        width: 80%;
        height: auto;
        border: 3px solid black;
        border-radius: 13px;
        animation: fadeIn 2s;
    }

    .form-div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    
}