body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

h1 {
  font-size: 89px;
  animation: fadeIn 1s;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0px 0px 5px black;
}

h2, .description, .works-list-element {
  color: white;
  font-size: 46px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.8), 0 0 30px rgba(161, 161, 161, 0.8), 0 0 40px rgba(162, 162, 162, 0.9), 0 0 50px rgb(255, 255, 255);
}

.subheader {
  color: white;
  font-size: 40px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.8), 0 0 30px rgba(161, 161, 161, 0.8), 0 0 40px rgba(162, 162, 162, 0.9), 0 0 50px rgb(255, 255, 255);
}

#title_description {
  font-size: 30px;
  color: black;
  text-shadow: 0px 0px 5px white;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
}

.main-input, select {
  width: 300px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 13px;
  margin: 20px;
  transition: all 0.2s;
}

#description {
  width: 500px;
  height: 200px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 13px;
}

.nav-input {
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: center;
  border: 2px solid black;
  border-radius: 13px;
  transition: all 0.2s;
  margin: 0px 15px 0px;
}

.submit-button {
  width: 135px;
  height: 30px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 13px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-button2 {
  width: 40px;
  height: 40px;
  margin: 15px;
  border-radius: 160px;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.2s;
}

.submit-button:hover,
.submit-button:focus {
  color: rgb(49, 186, 78);
  transform: scale(1.1);
}

.submit-button2:hover,
.submit-button2:focus {
  background-color: rgb(49, 186, 78);
  transform: scale(1.1);
}

.xmark:hover,
.xmark:focus {
  background-color: rgb(255, 32, 32);
  transform: scale(1.1);
}

.main-div, #user-description, .main-div3, .main-div2 {
  margin: -40px auto auto auto;
  width: 85%;
  padding: 15px;
  animation: fadeIn 2s;
}

.main-div2 {
  float: right;
  width: 55%;
  padding: 20px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.main-div3 {
  float: left;
  width: 35%;
  padding: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
}

#titleDiv {
  height: 400px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 13px;
}

.book-div {
  position: relative;
  margin: auto auto 15px auto;
  width: 80%;
  height: auto;
  border: 3px solid black;
  border-radius: 13px;
  animation: fadeIn 2s;
}

#user-description {
  width: auto;
  margin: 10px;
}

.action-form, .action-form2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.action-form2 {
  flex-direction: row;
}

.form-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-form,
.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview-div {
  float: left;
  width: 540px;
  height: 700px;
  background-image: url("https://worksheetprints.com/wp-content/uploads/2022/12/default-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 15px 10px;
  animation: fadeIn 2s;
}

.works-list {
  list-style: none;
  line-height: 74px;
  font-size: 40px;
}

.works-list-element {
  transition: all 0.2s;
  margin-block: 40px;
}
.works-list-element:hover {
  transform: scale(1.1);
  color: rgb(49, 186, 78);
}

a {
  text-decoration: none;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
  transition: all 0.4s;
}

a:hover {
  color: rgb(49, 186, 78);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 65px;
  width: 100%;
  border-bottom: 3px solid black;
  padding: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  bottom: 0;
  left: 0;
  color: black;
  padding: 1px;
  height: 100%;
  width: 100%;
  border-top: 3px solid black;
  font-family: "Optima", sans-serif;
  visibility: hidden;
}

.footerText {
  font-family: "Optima", sans-serif;
  color: white;
  font-size: 32px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 35px;
  }
  h2, .description, .works-list-element {
    font-size: 26px;
  }
  .main-input, select {
    width: 170px;
    height: 40px;
    font-size: 15px;
  }
  .main-input:hover, select:hover,
  .main-input:focus,
  select:focus {
    width: 190px;
  }
  #description {
    width: 170px;
    font-size: 15px;
  }
  select {
    width: 170px;
    height: 40px;
    font-size: 15px;
  }
  .subheader {
    font-size: 25px;
  }
  .navbar {
    height: 70px;
    width: 100%;
    padding: 3px;
  }
  .nav-input {
    opacity: 0;
    width: 0px;
    height: 0px;
    margin: 0px 15px 0px;
  }
  #nav-submit {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  .submit-button {
    width: 120px;
    height: 40px;
    margin: 15px;
    font-size: 18px;
  }
  footer {
    margin-top: 15px;
    visibility: visible;
  }
  .main-div2 {
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .main-div3 {
    width: 89%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  #preview-div {
    width: 95%;
    height: 70px;
    background-image: none;
  }
  .works-list {
    font-size: 20px;
    margin-right: 17px;
    line-height: 40px;
  }
  .action-form, .action-form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .action-form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  #user-description {
    position: relative;
    width: auto;
    padding: 15px;
    margin: 10px;
  }
  .book-div {
    position: relative;
    margin: auto auto 15px 14px;
    width: 80%;
    height: auto;
  }
  .form-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footerText {
    font-size: 18px;
  }
}/*# sourceMappingURL=styles.css.map */